{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/pic1.jpeg" alt="product image">
            </div>
            <div class="itemname">Tin zinc wire</div>
            <div class="itemprice">Price: Rs.3000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/pic2.jpeg"  alt="product image">
            </div>
            <div class="itemname">Zinc alloy scrap</div>
            <div class="itemprice">Price: Rs.8000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/pic3.jpeg"  alt="product image">
            </div>
            <div class="itemname">Zamark 5 zinc alloy</div>
            <div class="itemprice">Price: Rs.10000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/pic4.jpg"  alt="product image">
            </div>
            <div class="itemname">zinc alluminium roffing sheet </div>
            <div class="itemprice">Price: Rs.4000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/pic5.jpg"  alt="product image">
            </div>
            <div class="itemname">Zinc ingot</div>
            <div class="itemprice">Price: Rs.6000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/pic6.jpg"  alt="product image">
            </div>
            <div class="itemname">Zinc slap</div>
            <div class="itemprice">Price: Rs.7000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/pic7.jpg"  alt="product image">
            </div>
            <div class="itemname">Zinc rich epoxy coating</div>
            <div class="itemprice">Price: Rs.2560.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/pic8.jpg"  alt="product image">
            </div>
            <div class="itemname">Zinc strips</div>
            <div class="itemprice">Price: Rs.12000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/pic9.jpg"  alt="product image">
            </div>
            <div class="itemname">Zinc round bar</div>
            <div class="itemprice">Price: Rs.7800.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/pic10.jpg"  alt="product image">
            </div>
            <div class="itemname">Zinc sheet</div>
            <div class="itemprice">Price: Rs.9000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/pic11.jpg"  alt="product image">
            </div>
            <div class="itemname">Zinc dross3 </div>
            <div class="itemprice">Price: Rs.4000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/pic12.png"  alt="product image">
            </div>
            <div class="itemname">Zinc coated flat</div>
            <div class="itemprice">Price: Rs.1300.00 </div>
        </div>
        

    </div>
    </div>
{% endblock  %}